type        : agent.load_average
label       : 'Load Average'
disabled    : false
period      : 60
timeout     : 10
alarms      :
    alarm1  :
        label                 : 'High Load Avg'
        notification_plan_id  : {{notification_plan}}
        criteria              : |
            if (metric['15m'] > {{ansible_processor_cores * 1.5|round(0,'floor')|int}}) {
              return new AlarmStatus(CRITICAL, '15 Minute Load Average is #{15m}');
            }
            if (metric['15m'] > {{ansible_processor_cores * 1|round(0,'floor')|int}}) {
              return new AlarmStatus(WARNING, '15 Minute Load Average is #{15m}');
            }
            return new AlarmStatus(OK, '15 Minute Load Average is #{15m}');
